In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

## LAX Terminal Data Set

In [2]:
terminal_df = pd.read_csv(r'/Users/isaganijulian/Documents/GitHub/LAX_Project/terminal/LAX_Terminal.csv')

In [5]:
# Define dictionary to map old to new column names
column_name_mapping = { 
'DataExtractDate' : 'Extract_Date', 
'ReportPeriod' : 'Report_Period', 
}

#Rename
terminal_df.rename(columns=column_name_mapping, inplace=True)

print(terminal_df)

                Extract_Date           Report_Period         Terminal  \
0     05/10/2021 06:01:09 AM  04/01/2021 12:00:00 AM               T1
1     05/03/2021 03:08:02 PM  03/01/2021 12:00:00 AM               T5
2     05/27/2021 03:16:34 PM  04/01/2021 12:00:00 AM               T5
3     07/10/2021 06:01:27 AM  06/01/2021 12:00:00 AM               T6
4     05/10/2021 06:01:09 AM  04/01/2021 12:00:00 AM               T8
...                      ...                     ...              ...
7878  11/18/2023 05:28:20 AM  10/01/2023 12:00:00 AM             TBIT
7879  11/14/2023 05:28:19 AM  10/01/2023 12:00:00 AM  TBIT West Gates
7880  11/15/2023 05:28:26 AM  10/01/2023 12:00:00 AM             TBIT
7881  11/15/2023 05:28:26 AM  10/01/2023 12:00:00 AM               T2
7882  11/15/2023 05:28:26 AM  10/01/2023 12:00:00 AM               T4

     Arrival_Departure Domestic_International  Passenger_Count
0            Departure               Domestic           160413
1            Departure               Domestic           223866
2            Departure               Domestic           266035
3              Arrival          International             6195
4              Arrival               Domestic            54925
...                ...                    ...              ...
7878           Arrival          International           564276
7879           Arrival          International           237837
7880         Departure               Domestic            77173
7881           Arrival               Domestic           302039
7882           Arrival          International             3279

[7883 rows x 6 columns]

In [9]:
import pandas as pd 
from datetime import datetime 

# Convert the Extract_Date original format date 
terminal_df['Extract_Date'] = pd.to_datetime(terminal_df['Extract_Date'], format='%m/%d/%Y %I:%M:%S %p')

# Convert to desired format
terminal_df['Extract_Date'] = terminal_df['Extract_Date'].dt.strftime('%Y, %B %d, %A %I:%M:%S %p')

# Convert for Report_Period
terminal_df['Report_Period'] = pd.to_datetime(terminal_df['Report_Period'], format='%m/%d/%Y %I:%M:%S %p')

# Convert to desired format
terminal_df['Report_Period'] = terminal_df['Report_Period'].dt.strftime('%Y, %B %d, %A %I:%M:%S %p')

In [10]:
# Display basic summary statistics
summary_stats = terminal_df.describe()

# Display the number of unique values in each column
unique_counts = terminal_df.nunique()

# Display the data types of each column
data_types = terminal_df.dtypes

# Display missing values count in each column
missing_values = terminal_df.isnull().sum()

# Display summary statistics
print("Summary Statistics:")
print(summary_stats)

# Display unique value counts
print("\nUnique Value Counts:")
print(unique_counts)

# Display data types
print("\nData Types:")
print(data_types)

# Display missing values
print("\nMissing Values:")
print(missing_values)

Summary Statistics:
       Passenger_Count
count      7883.000000
mean     150115.125079
std      152305.478195
min           0.000000
25%       19849.500000
50%       97231.000000
75%      259746.500000
max      908951.000000

Unique Value Counts:
Extract_Date               150
Report_Period              214
Terminal                    12
Arrival_Departure            2
Domestic_International       2
Passenger_Count           7534
dtype: int64

Data Types:
Extract_Date              object
Report_Period             object
Terminal                  object
Arrival_Departure         object
Domestic_International    object
Passenger_Count            int64
dtype: object

Missing Values:
Extract_Date              0
Report_Period             0
Terminal                  0
Arrival_Departure         0
Domestic_International    0
Passenger_Count           0
dtype: int64

In [11]:
terminal_df

,Extract_Date,Report_Period,Terminal,Arrival_Departure,Domestic_International,Passenger_Count
0,"2021, May 10, Monday 06:01:09 AM","2021, April 01, Thursday 12:00:00 AM",T1,Departure,Domestic,160413
1,"2021, May 03, Monday 03:08:02 PM","2021, March 01, Monday 12:00:00 AM",T5,Departure,Domestic,223866
2,"2021, May 27, Thursday 03:16:34 PM","2021, April 01, Thursday 12:00:00 AM",T5,Departure,Domestic,266035
3,"2021, July 10, Saturday 06:01:27 AM","2021, June 01, Tuesday 12:00:00 AM",T6,Arrival,International,6195
4,"2021, May 10, Monday 06:01:09 AM","2021, April 01, Thursday 12:00:00 AM",T8,Arrival,Domestic,54925
...,...,...,...,...,...,...
7878,"2023, November 18, Saturday 05:28:20 AM","2023, October 01, Sunday 12:00:00 AM",TBIT,Arrival,International,564276
7879,"2023, November 14, Tuesday 05:28:19 AM","2023, October 01, Sunday 12:00:00 AM",TBIT West Gates,Arrival,International,237837
7880,"2023, November 15, Wednesday 05:28:26 AM","2023, October 01, Sunday 12:00:00 AM",TBIT,Departure,Domestic,77173
7881,"2023, November 15, Wednesday 05:28:26 AM","2023, October 01, Sunday 12:00:00 AM",T2,Arrival,Domestic,302039
7882,"2023, November 15, Wednesday 05:28:26 AM","2023, October 01, Sunday 12:00:00 AM",T4,Arrival,International,3279

In [12]:
terminal_df.to_csv('terminal_df.csv', index=False)